@{
    ViewData["Title"] = "Predict Crash Input";
}

@model Crash_pred

<form method="post" asp-controller="Inference" asp-action="Score">

    <!--Adjust for the models features -->
    <div>
        <label asp-for="intersection_related">Intersection Related:</label>
        <select asp-for="intersection_related">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </div>

    <div>
        <label asp-for="intersection_related">Was it at anIntersection: Yes</label>
        <input type="radio" value="1" asp-for="intersection_related" />
        <label asp-for="intersection_related">No</label>
        <input type="radio" value="0" asp-for="intersection_related" />
    </div>

    <div>
        <label asp-for="commercial_motor_veh_involved">Was a commercial vehicle involved: Yes</label>
        <input type="radio" value="1" asp-for="commercial_motor_veh_involved" />
        <label asp-for="commercial_motor_veh_involved">No</label>
        <input type="radio" value="0" asp-for="commercial_motor_veh_involved" />
    </div>

    <div>
        <label asp-for="teenage_driver_involved">Was a teenage driver tnvolved: Yes</label>
        <input type="radio" value="1" asp-for="teenage_driver_involved" />
        <label asp-for="teenage_driver_involved">No</label>
        <input type="radio" value="0" asp-for="teenage_driver_involved" />
    </div>

    <div>
        <label asp-for="older_driver_involved"> Was an older driver involved: Yes</label>
        <input type="radio" value="1" asp-for="older_driver_involved" />
        <label asp-for="older_driver_involved">No</label>
        <input type="radio" value="0" asp-for="older_driver_involved" />
    </div>

    <div>
        <label asp-for="night_dark_condition"> Was it at night: Yes</label>
        <input type="radio" value="1" asp-for="night_dark_condition" />
        <label asp-for="night_dark_condition">No</label>
        <input type="radio" value="0" asp-for="night_dark_condition" />
    </div>

    <div>
        <label asp-for="single_vehicle"> Single or Multiple Vehicles: Single</label>
        <input type="radio" value="1" asp-for="single_vehicle" />
        <label asp-for="single_vehicle">Many</label>
        <input type="radio" value="0" asp-for="single_vehicle" />
    </div>

    <div>
        <label asp-for="distracted_driving"> Was the driver distracted: Yes</label>
        <input type="radio" value="1" asp-for="distracted_driving" />
        <label asp-for="distracted_driving">No</label>
        <input type="radio" value="0" asp-for="distracted_driving" />
    </div>

    <div>
        <label asp-for="roadway_departure"> Was it at an exit: Yes</label>
        <input type="radio" value="1" asp-for="roadway_departure" />
        <label asp-for="roadway_departure">No</label>
        <input type="radio" value="0" asp-for="roadway_departure" />
    </div>

    <div>
        <label asp-for="route_89"> Was it at Route 89: Yes</label>
        <input type="radio" value="1" asp-for="route_89" />
        <label asp-for="route_89">No</label>
        <input type="radio" value="0" asp-for="route_89" />
    </div>

    <div>
        <input type="hidden" value="1" asp-for="route_Other" />
    </div>

    <div>
        <input type="hidden" value="1" asp-for="main_road_name_Other" />
    </div>

    <div>
        <label asp-for="city_Salt_Lake_City"> Was it in Salt Lake City: Yes</label>
        <input type="radio" value="1" asp-for="city_Salt_Lake_City" />
        <label asp-for="city_Salt_Lake_City">No</label>
        <input type="radio" value="0" asp-for="city_Salt_Lake_City" />
    </div>

    <div>
        <label asp-for="city_West_Valley_City"> Was it in West Valley City: Yes</label>
        <input type="radio" value="1" asp-for="city_West_Valley_City" />
        <label asp-for="city_West_Valley_City">No</label>
        <input type="radio" value="0" asp-for="city_West_Valley_City" />
    </div>

    <div>
        <label asp-for="city_Other"> Was it in any city not mentioned above: Yes</label>
        <input type="radio" value="1" asp-for="city_Other" />
        <label asp-for="city_Other">No</label>
        <input type="radio" value="0" asp-for="city_Other" />
    </div>

    <div>
        <label asp-for="county_name_Salt_Lake"> Was it in Salt Lake County: Yes</label>
        <input type="radio" value="1" asp-for="county_name_Salt_Lake" />
        <label asp-for="county_name_Salt_Lake">No</label>
        <input type="radio" value="0" asp-for="county_name_Salt_Lake" />
    </div>

    <div>
        <label asp-for="county_name_Weber"> Was it in Weber County: Yes</label>
        <input type="radio" value="1" asp-for="county_name_Weber" />
        <label asp-for="county_name_Weber">No</label>
        <input type="radio" value="0" asp-for="county_name_Weber" />
    </div>

    <div>
        <label asp-for="county_name_UTAH"> Was it in Utah County: Yes</label>
        <input type="radio" value="1" asp-for="county_name_UTAH" />
        <label asp-for="county_name_UTAH">No</label>
        <input type="radio" value="0" asp-for="county_name_UTAH" />
    </div>

    <div>
        <label asp-for="county_name_Other"> Was it in any county not mentioned above: Yes</label>
        <input type="radio" value="1" asp-for="county_name_Other" />
        <label asp-for="county_name_Other">No</label>
        <input type="radio" value="0" asp-for="county_name_Other" />
    </div>

    @*<div>
            <label>County</label>
            <select asp-for="county_name_Other">
                <option value="1">Other</option>
                <option value="2">Salt Lake County</option>
                <option value="3">Utah County</option>
                <option value="4">Weber County</option>
            </select>
        </div>

        @{
            if (Model.county_name_Other == 2)
            {
                Model.county_name_Salt_Lake = 1;
                Model.county_name_Other = 0;
            }
            else if (Model.county_name_Other == 3)
            {
                Model.county_name_UTAH = 1;
                Model.county_name_Other = 0;
            }
            else if (Model.county_name_Other == 4)
            {
                Model.county_name_Weber = 1;
                Model.county_name_Other = 0;
            }
            else { Model.county_name_Other = 1; }
        }*@

    @*<div><label>County Name Other</label><input asp-for="county_name_Other" value="0" /></div>
        <div><label>County Name Salt Lake</label><input asp-for="county_name_Salt_Lake" value="0" /></div>
        <div><label>County Name Utah</label><input asp-for="county_name_UTAH" value="0" /></div>
        <div><label>County Name Weber</label><input asp-for="county_name_Weber" value="0" /></div>*@
    <button type="submit">Calculate</button>
</form>
