@page "/admin/crashes/delete/{id:long}"
@inherits OwningComponentBase<ICrashRepository>

<div class="container">
    <h1>Are you sure you are wanting to delete the crash with the Crash ID of @c.CRASH_ID ?</h1>
    <a class="btn btn-danger" @onclick="@(x => RemoveCrash(c))" href="/admin/crashes">Yes</a>
    <NavLink class="btn btn-secondary" href="/admin/crashes">Cancel</NavLink>
</div>

@code {

    [Inject]
    public ICrashRepository repo { get; set; }

    [Parameter]
    public long Id { get; set; } = 0;

    public Crash c { get; set; }

    protected override void OnParametersSet()
    {
        c = repo.Crashes.FirstOrDefault(x => x.CRASH_ID == Id);
    }

    public async Task RemoveCrash(Crash c)
    {
        repo.DeleteCrash(c);
    }

}
