@page "/admin"
@model INTEX2.Pages.Admin.IndexModel

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@{
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>

<head>
    <title>Crashes Admin</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <base href="~/" />
    <link href="~/img/arch.png" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
    <component type="typeof(INTEX2.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>

</html>