<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile - Authentication</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">Authentication</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" title="Manage" href="/Identity/Account/Manage">Hello ben@byu.edu!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" action="/Identity/Account/Logout?returnUrl=%2F" method="post">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FXMNHzqsNtGjp96rntf8uoBSo62jck8re5s53K7duZwNlXeJ5hj5tKYV1p3Y0L_6OQa_Mj7Fff-pV3-hp1WnPgWL2aBZtTxuANiiWJkbpHOtVHNz6qPNTbFNdXjJ3-L7Z7IonQX28PACSmh-Y8q4GnwZ_rs8-AnFiHTBTeJtNOdUOFRCe1vkX3ZsxIYcPYupA" /></form>
    </li>
</ul>

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            
<h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link active" id="profile" href="/Identity/Account/Manage">Profile</a></li>
    <li class="nav-item"><a class="nav-link" id="email" href="/Identity/Account/Manage/Email">Email</a></li>
    <li class="nav-item"><a class="nav-link" id="change-password" href="/Identity/Account/Manage/ChangePassword">Password</a></li>
    <li class="nav-item"><a class="nav-link" id="two-factor" href="/Identity/Account/Manage/TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link" id="personal-data" href="/Identity/Account/Manage/PersonalData">Personal data</a></li>
</ul>

        </div>
        <div class="col-md-9">
            
<h4>Profile</h4>


<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div class="text-danger validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
</ul></div>
            <div class="form-group">
                <label for="Username">Username</label>
                <input class="form-control" disabled type="text" id="Username" name="Username" value="ben@byu.edu" />
            </div>
            <div class="form-group">
                <label for="Input_PhoneNumber">Phone number</label>
                <input class="form-control" type="tel" data-val="true" data-val-phone="The Phone number field is not a valid phone number." id="Input_PhoneNumber" name="Input.PhoneNumber" value="" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Input.PhoneNumber" data-valmsg-replace="true"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FXMNHzqsNtGjp96rntf8uoBSo62jck8re5s53K7duZwNlXeJ5hj5tKYV1p3Y0L_6OQa_Mj7Fff-pV3-hp1WnPgWL2aBZtTxuANiiWJkbpHOtVHNz6qPNTbFNdXjJ3-L7Z7IonQX28PACSmh-Y8q4GnwZ_rs8-AnFiHTBTeJtNOdUOFRCe1vkX3ZsxIYcPYupA" /></form>
    </div>
</div>


        </div>
    </div>
</div>


        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Authentication - <a href="/Home/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=BxFAw9RUJ1E4NycpKEjCNDeoSvr4RPHixdBq5wDnkeY"></script>
    
    
    
    <script src="/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>





</body>
</html>
