@{
    ViewData["Title"] = "Home";
}


<div class="container text-center rounded-corner shadow">
    <br />
    <h1>Utah Traffic Accidents</h1>

    <div class="container text-center">

        <p>This website is dedicated to providing a database for users to see the causes and an interactive map of crashes on Utah roads.</p>
        <br />
    </div>

    <h4>Search Utah Accidents</h4>



    <form method="post">
        <input type="text" placeholder="Search.." />
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <br />
</div>

<div class="container text-center content-center">
    <img src="../img/delicatearch.jpg" width="300px" />
</div>