@{
    ViewData["Title"] = "Home";
}


<div class="container text-center">
    <h1>UDOT</h1>

    <h4>Search Utah Accidents</h4>
    <form method="post">
        <input type="text" placeholder="Search.." />
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

</div>