@{
    ViewData["Title"] = "Home";
}
<div class="container text-center rounded shadow-lg">
    <br />
    <h1>Utah Traffic Accidents</h1>
    <div class="container rounded text-center">
        <p>
            Drive Safe Utah is a non-profit ogranization dedicated to providing lawmakers with critical information needed to keep utah safe.
            There was an average of 168 car accidents on Utah roads everday in 2021.
            We believe the solution to the horrors found on Utah’s roads lie in the aggregated details of these crashes.
        </p>
        <br />
    </div>
</div>
<br />
<br />
<div class="container text-center rounded shadow-lg">
    <br />
    <h4>Our Goal: Zero Fatalities</h4>
    <br />
    <iframe width="960" height="540" src="https://www.youtube-nocookie.com/embed/sNd3AwEpIVs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br />
    <br />
    <div class="content-center">
        <a class="btn btn-primary shadow" href="/display" >Check out the data</a>

    </div>
    <br />
</div>