@{
    ViewData["Title"] = "Home";
}


<div class="container text-center rounded shadow-lg">
    <br />
    <h1>Utah Traffic Accidents</h1>

    <div class="container rounded text-center">

        <p>
            Drive Safe Utah is a non-profit ogranization dedicated to providing lawmakers with critical information needed to keep utah safe.
            There was an average of 168 car accidents on Utah roads everday in 2021.
            We believe the solution to the horrors found on Utah's roads lie in the aggregated details of these crashes.
        </p>
        <br />
    </div>

    <h4>Search Utah Accidents</h4>



    <form method="post">
        <input type="text" placeholder="Search.." />
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <br />
</div>
<br/>
@*<div class="container text-center content-center">
    <img src="../img/delicatearch.jpg" width="600px" />
</div>*@