@{
    ViewData["Title"] = "Table";
}
@model List<Crash>
<h1>Table</h1>

<table>
    <thead>
        <tr>
            <th>Crash ID</th>
            <th>Route</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.CRASH_ID</td>
                <td>@c.ROUTE</td>
            </tr>
        }
    </tbody>
</table>

