@page
@model INTEX2.Pages.AdminLayoutModel
@{
}

<div>

    <div class="navbar sticky-top navbar-expand-lg navbar-dark bg-black bg-opacity-75 border-bottom shadow-lg mb-3">
        <div class="col">
            <span class="navbar-brand m-lg-2">Utah Crash Data</span>
        </div>

        <div class="col-2 text-right">
            <a class="btn btn-primary" href="/account/logout">Log Out</a>
        </div>
    </div>

</div>